<template>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <!-- left column -->
                <div class="col-md-8">

                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">តារាងប្រភេទទំនិញ</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 30px;">ល.រ</th>
                                    <th style="width: 100px;">រូបភាព</th>
                                    <th>ឈ្មោះ</th>
                                    <th style="width: 150px;">កែប្រែ</th>
                                </tr>
                                </thead>
                                <tbody v-for="(row,index) in data" :key="row.id">
                                <tr>
                                    <td class="align-middle">{{numbering+index+1}}</td>
                                    <td> <img :src="'/images/thumbnails/'+row.cate_image"  style="max-width: 50px;"/> </td>
                                    <td class="align-middle"><a href="#" @click="show_data(row.id)">{{row.cat_name}}</a>
                                        <div v-if="row.cat_description">
                                            <span class="sub-info indigo">Description : {{row.cat_description}}</span>
                                        </div>
                                    </td>

                                    <td class="align-middle">
                                        <button type="button" class="btn btn-success btn-xs" @click="show_data(row.id)" ><i class="fa fa-edit"></i> កែប្រែ</button>
                                        <button type="button" class="btn btn-danger btn-xs" @click="delete_data(row.id)"><i class="fa fa-trash"></i> លុប</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">

                            <!--start pagination-->
                            <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                                <template slot-scope="props">
                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                        បង្ហាញជួរដេក :
                                        <select id="displayRows" @change="onChange($event)">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>

                                    </div>
                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                        ទំព័រ​: {{ props.start }} នៃ {{ props.end }} (សរុប​: {{ props.total }} ប្រភេទទំនិញ)
                                    </div>
                                </template>
                                <template slot="buttons" slot-scope="props">
                                    <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                                </template>
                            </vue-ads-pagination>
                            <!--start pagination-->

                        </div>
                    </div>

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-4">
                    <form @submit.prevent="editmode ? update_data() : create_data()" class="form-horizontal">
                        <!-- Horizontal Form -->
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">ការកំណត់ប្រភេទទំនិញ</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="name">ឈ្មោះ <span class="required"> *</span></label>
                                    <input v-model="form.cat_name" type="text" name="name" id="name"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                    <has-error :form="form" field="name"></has-error>
                                </div>

                                <div class="form-group">
                                    <label for="description">ពណ៌នា</label>
                                    <input v-model="form.cat_description" type="text" name="description" id="description"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('description') }">
                                    <has-error :form="form" field="description"></has-error>
                                </div>

                                <div class="form-group">
                                    <label for="thumb_image">រូបភាព</label>
                                        <div id="preview" style="padding-top:10px;" v-if="form.cate_image">
                                            <img :src="url"  style="max-width: 150px;"/>
                                            <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.cate_image)"><i class="fa fa-trash-alt"></i></button>
                                        </div>

                                        <div v-else>
                                            <input type="file" id="thumb_image" name="thumb_image" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('thumb_image') }"/>
                                            <has-error :form="form" field="thumb_image"></has-error>
                                        </div>
                                </div>

                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer text-right">
                                <router-link to="/admin/category">
                                    <button type="submit" class="btn btn-danger" @click="cancel">បោះបង់</button>
                                </router-link>
                                <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> កែប្រែ</button>
                                <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> រក្សាទុក</button>

                            </div>
                            <!-- /.card-footer -->

                        </div>
                        <!-- /.card -->
                    </form>
                </div>
                <!--/.col (right) -->
            </div>




            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                url: null,
                thumbnailsPart : 'images/thumbnails',
                originalPart : 'images/contents/Original',
                api: '/api/category/',
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,

                editmode: false,
                data: {},
                form: new Form({
                    id:'',
                    cat_name: '',
                    cat_description: '',
                    cate_image: '',
                })
            }
        },
        methods: {
            onImageChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);
                formData.append('validate', 'required|image|mimes:jpeg,png,jpg,gif,svg|max:2048');

                axios.post('/api/resizeImagePost', formData, config)
                    .then(function (response) {
                        this.form.cate_image = response.data.data.name;
                    }.bind(this));
            },
            deleteImg(img){

                let formData = new FormData();
                formData.append('image', img);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);

                Swal.fire({
                    title: 'តើអ្នកពិតជាចង់លុបមែនទេ?',
                    text: "អ្នកនឹងមិនអាចត្រឡប់វាបានទេ!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'លុបវាចោល!',
                    cancelButtonText:'អត់ទេ',
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/deleteImg', formData).then((response)=>{
                            Swal.fire(
                                'បានលុប!',
                                'ពត៍មានត្រូវបានលុបជោគជ័យ',
                                'success'
                            )
                            this.form.cate_image = null;
                        }).catch(()=> {
                            Swal.fire("បានបរាជ័យ!", "មានអ្វីមួយមិនប្រក្រតី។", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get(this.api+'?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                this.$loading(true);
                this.numbering = start;
                var page = end / this.per_page;
                if ((start+this.per_page)>this.total){
                    page = page+1;
                }
                axios.get(this.api+'?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    });
            },
            load_data(){
                this.$loading(true)
                axios.get(this.api)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.per_page = parseInt(response.data.meta.per_page);
                        this.data = response.data.data;
                        this.$loading(false)
                    });
            },
            delete_data(id){
                Swal.fire({
                    title: 'តើអ្នកពិតជាចង់លុបមែនទេ?',
                    text: "អ្នកនឹងមិនអាចត្រឡប់វាបានទេ!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'លុបវាចោល!',
                    cancelButtonText:'អត់ទេ',
                }).then((result) => {
                    if (result.value) {
                        this.form.delete(this.api+id).then(()=>{
                            Swal.fire(
                                'បានលុប!',
                                'ពត៍មានត្រូវបានលុបជោគជ័យ',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("បានបរាជ័យ!", "មានអ្វីមួយមិនប្រក្រតី។", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            create_data() {
                this.form.post(this.api)
                    .then((response) => {
                        this.url = null,
                        this.form.reset();
                        this.load_data();
                        this.$toast.success({
                            title:'បង្កើតតុ',
                            message:'បង្កើតប្រភេទទំនិញបានជោគជ័យ'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'បង្កើតប្រភេទទំនិញ',
                            message: error.message
                        });
                    })
            },
            show_data(id){
                this.$loading(true)
                axios.get(this.api + id)
                    .then(response => {
                        this.editmode = true;
                        this.url = '/' + this.thumbnailsPart +'/'+ response.data.data.cate_image;
                        this.form.fill(response.data.data);
                        this.$loading(false)
                    });
            },
            cancel(){
                this.editmode = false;
                this.form.reset();
            },
            update_data(){
                this.$loading(true);
                this.form.put(this.api+this.form.id)
                    .then(() => {
                        Swal.fire(
                            'កែប្រែ!',
                            'កែប្រែប្រភេទទំនិញបានជោគជ័យ!',
                            'success'
                        );
                        this.url = null,
                        this.editmode = false;
                        this.form.reset();
                        this.$loading(true);
                        Fire.$emit('AfterCreate');
                    })
                    .catch(() => {
                        this.$loading(true)
                    });

            },
        },
        created() {
            Fire.$on('searching',() => {
                this.$loading(true)
                let query = this.$parent.search;
                axios.get('/api/findTable?q=' + query)
                    .then((data) => {
                        this.users = data.data
                        this.$loading(false)
                    })
                    .catch(() => {

                    })
            })
            Fire.$on('AfterCreate',() => {
                this.load_data();
            });

        }
    }
</script>





