<template>
    <section class="content">
        <div class="container-fluid">
            <div class="clearfix" style="margin-top: -30px;">
                <!--start pagination-->
                <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                    <template slot-scope="props">
                        <div class="vue-ads-pr-2 vue-ads-leading-loose" style="margin-left: -8px;">
                        <b>ទំនិញទាំងអស់</b>
                        </div>
                    </template>
                    <template slot="buttons" slot-scope="props">
                        <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                    </template>
                </vue-ads-pagination>
                <!--start pagination-->
            </div>


            <div class="row">
                <div class="col-sm-3 pro-item" v-for="pro in data" :key="pro.id">

                    <div class="card">
                        <div class="card-body" style="padding: 0px; height: 100px; overflow: hidden;">
                            <img :src="'/images/thumbnails/'+pro.photo"  style="width: 100%;"/>
                        </div>
                        <div class="smaller">លេខកូដ : {{pro.code}}</div>
                        <div class="card-footer" style="height: 70px; overflow: hidden; text-align: center; font-size: 80%;">
                            <div style="margin-top: 0px; margin-bottom: 3px;">
                                {{pro.name}}
                            </div>
                            <div>
                            <span v-for="p in pro.product_price" :key="p.id">
                                <button type="submit" class="btn btn-primary btn-xs" @click="addToCart(pro.id, pro.name,p.product_size_id,p.size_name,p.price)" style="padding: 10px; margin-right: 5px;"> {{p.size_name}}</button>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

</template>
<script>
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },
        data() {
            return {
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,

                getData: {},
                data: {},
            }
        },
        methods: {
            rangeChange (start, end) {
                this.$loading(true);
                this.numbering = start;
                var page = end / this.per_page;
                if ((start+this.per_page)>this.total){
                    page = page+1;
                }
                axios.get('/api/all-product?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page)+'&rangeChange')
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    });
            },
            load_data(){
                this.$loading(true);
                axios.get('/api/all-product')
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.per_page = parseInt(response.data.meta.per_page);
                        this.data = response.data.data;
                        this.$loading(false)
                    });
            },

            addToCart: function(id, name, size_id, size, price){
                this.$parent.$emit('addToCart', id, name, size_id, size, price);
            }
        },
        created() {
            Fire.$on('searching',() => {
                let query = this.$parent.$parent.search;
                axios.get('/api/findProduct?q=' + query)
                    .then((response) => {
                        this.data = response.data.data
                    })
                    .catch(() => {

                    })
            });
            this.load_data();
        }
    }
</script>

