<template>
    <section class="content">
        <div class="container-fluid">

            <div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">បង្ហាញការកម្មង់</h3>

                        <div class="card-tools">
                            <!--start pagination-->
                            <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange" style="margin-top: 1px;">
                                <template slot-scope="props">
                                    <div class="vue-ads-pr-2 vue-ads-leading-loose" style="margin-left: -8px;">
                                        <b></b>
                                    </div>
                                </template>
                                <template slot="buttons" slot-scope="props">
                                    <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                                </template>
                            </vue-ads-pagination>
                            <!--start pagination-->
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>វិក័យប័ត្រ</th>
                                <th>តុ</th>
                                <th>ថ្ងៃកម្មង់</th>
                                <th style="width: 100px">សរុប ($)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(order,index) in data" :key="order.id">
                                <td>{{index + 1}}</td>
                                <td>
                                    <span @click.prevent="orderDetail(order.id)" style="font-weight: 600; cursor: pointer;"> {{order.order_number}}</span>
                                </td>
                                <td>{{order.table_name}}</td>
                                <td>{{order.created_at}}</td>
                                <td style="font-weight: 600;">{{order.total_amount | currency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

</template>
<script>
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },
        data() {
            return {
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,

                getData: {},
                data: {},
            }
        },
        methods: {
            rangeChange (start, end) {
                this.$loading(true);
                this.numbering = start;
                var page = end / this.per_page;
                if ((start+this.per_page)>this.total){
                    page = page+1;
                }
                axios.get('/api/order?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page)+'&rangeChange')
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    });
            },
            load_data(){
                axios.get('/api/order')
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.per_page = parseInt(response.data.meta.per_page);
                        this.data = response.data.data;
                    });
            },
            orderDetail: function(id){
                axios.get('/api/order/' + id)
                    .then(response => {
                        this.$parent.$emit('orderDetail', response.data.data);
                    });
            }
        },
        created() {
            Fire.$on('searching',() => {
                let query = this.$parent.$parent.search;
                axios.get('/api/findOrder?q=' + query)
                    .then((response) => {
                        this.data = response.data.data
                    })
                    .catch(() => {

                    })
            });
            this.load_data();
        }
    }
</script>

