<template>
    <div>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-light-primary elevation-4" style="width: 450px;">
        <!-- Brand Logo -->
        <a href="/admin/dashboard" class="brand-link navbar-navy" style="height: 60px;">
            <img src="/img/logo.png" alt="AdminLTE Logo" style="width: 35px;">
            <span class="brand-text font-weight-light" style="color: white;">សួនឬស្សី</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar" id="test" style="overflow-x: hidden;overflow-y: hidden; padding-top: 10px;">
            <form id="frm">
            <div class="row">
                <div class="col-12">
                    <div class="card" style="border: 0px solid rgba(0, 0, 0, 0.125); border-radius: 0rem;">
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0 cart-height">
                            <table class="table table-head-fixed text-nowrap table-sm">
                                <thead>
                                <tr>
                                    <th style="width: 10px;">ល.រ</th>
                                    <th>ឈ្មោះទំនិញ</th>
                                    <th style="width: 50px;">ចំនួន</th>
                                    <th style="width: 50px;">ចុះថ្ងៃ(%)</th>
                                    <th style="width: 90px;">សរុប($)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(res, k) in sortArrays(form.product)" :key="k" v-if="res.product_name != ''">
                                    <td style="vertical-align: middle;">{{k+1}}</td>
                                    <td><span style="font-weight: 600;">{{res.product_name}}</span> <br/>
                                        <span style="font-size: 11px;"> {{res.size_name}}, </span>
                                        <span style="font-size: 11px;"> តំលៃ : {{res.unit_price | currency}}</span>
                                    </td>
                                    <td style="vertical-align: middle;"><input type="number" @change="updateQTY(res.product_id,res.product_size_id,res.qty)" v-model="res.qty" value="1" style="border: 1px solid #0b2e13; width: 50px; padding-left: 7px;"/></td>
                                    <td style="vertical-align: middle;"><input type="number" @change="updateDiscount(res.product_id,res.product_size_id,res.dis_percent)" v-model="res.dis_percent" value="0" style="border: 1px solid #0b2e13; width: 50px; padding-left: 7px;"/></td>
                                    <td style="vertical-align: middle; font-weight: 600;">{{res.amount | currency}} <span style="float: right;">
                                        <i class="fas fa-times-circle" style="color: red; font-size: 18px; cursor: pointer; margin-right: -15px;" @click="deleteRow(k, res)"></i></span></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

                <div style="height: 195px;">
                    <div class="row">
                        <div class="col-md-5">

                            <router-link to="/?select=table" class="btn btn-info" style="margin-left: 0px; height: 75px; width: 173px; background-color: #dfe1e3; color: #212529; border: 1px solid #2125292b; border-radius: 0px; padding: 20px;">
                                <img src="/img/table-available.png" style="width: 40px;">
                                <span v-if="form.table_id != ''" style="color: black; font-size: 14px; font-weight: 600; padding-left: 10px;">
                                    តុ : {{form.table_name}}
                                </span>
                                <span v-else style="color: black; font-size: 14px; font-weight: 600; padding-left: 10px;">
                                    ជ្រើសរើសតុ
                                </span>
                            </router-link>

                        </div>
                        <div class="col-md-7" style="font-weight: 600; font-size: 14px; padding: 10px;">
                            សរុប (ប្រាករៀល) ៖ ៛ {{form.totalAmountRiel | numFormat}} <br/>
                            សរុប (ប្រាក់ដុល្លា) ៖ <span style="font-size: 26px;">{{form.total_amount | currency}}</span> <br/>
                        </div>
                    </div>

                    <div>
                        <button type="button" data-toggle="modal" data-target="#exampleModalCenter" style="height: 110px; width: 120px; float: right; background-color: DodgerBlue;" class="btn_pos"><i class="fa fa-hand-holding-usd" style="font-size: 32px;"></i><br/> បង់ប្រាក់</button>
                        <button @click.prevent="receipt()" type="button" style="height: 110px; width: 120px; float: right; background-color: #fd7e14;" class="btn_pos"><i class="fas fa-file-invoice-dollar" style="font-size: 32px;"></i><br/> បង្កាន់ដៃ</button>
                        <button @click.prevent="clearOrder()" style="float: right; width: 173px; background-color: #ff0018; margin-left: -10px;" class="btn_pos"><i class="fas fa-plus-circle" style="margin-right: 5px; font-size: 16px;"></i> កម្មង់ថ្មី </button>
                        <button @click.prevent="saveOrder()" v-show="!editmode" style="float: right; width: 173px; margin-left: -10px; background-color: #087544;" class="btn_pos"><i class="fas fa-save" style="margin-right: 5px; font-size: 16px;"></i> រក្សាទុក</button>
                        <button @click.prevent="updateOrder()" v-show="editmode" style="float: right; width: 173px; margin-left: -10px; background-color: #087544;" class="btn_pos"><i class="far fa-edit" style="margin-right: 5px; font-size: 16px;"></i> កែប្រែ</button>
                    </div>
                </div>
            </form>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <br/>

    <div class="content-wrapper1" style="margin-left: 450px;">
        <main class="py-4" style="padding-top: 0rem !important;">
            <div class="container" style="padding:10px; width: 100%;">
                <div class="row justify-content-center">
                    <div class="col-md-12 pos-height">
                        <router-view></router-view>
                    </div>
                </div>
            </div>
        </main>
    </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Khmer OS Muol'"> <i class="fa fa-hand-holding-usd" style="font-size: 20px; margin-right: 5px;"></i> ទូទាត់ប្រាក់</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="card-body" style="padding: 5px;">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">សរុបប្រាក់ដុល្លា($)</label>
                                    <div class="col-sm-7" style="font-size: 20px; font-weight: bold;">
                                        {{form.total_amount | currency}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">សរុបប្រាក់រៀល(៛)</label>
                                    <div class="col-sm-7" style="font-size: 20px; font-weight: bold;">
                                        ៛{{form.totalAmountRiel | numFormat}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">ចុះថ្លៃ(%)</label>
                                    <div class="col-sm-7" style="font-size: 20px; font-weight: bold;">
                                        <input type="text" class="form-control" id="discount" style="font-size: 16px; font-weight: bold;" placeholder="0%">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">ប្រាក់ដុល្លា($)</label>
                                    <div class="col-sm-7">
                                        <input type="email" class="form-control" style="font-size: 16px; font-weight: bold;" id="inputEmail3" placeholder="$0.00">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-4 col-form-label">ប្រាក់អាប់ដុល្លា($)</label>
                                    <div class="col-sm-7">
                                        <input type="text" readonly class="form-control" style="font-size: 16px; font-weight: bold;" id="inputPassword3" placeholder="$0.00">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">ប្រាក់រៀល(៛)</label>
                                    <div class="col-sm-7">
                                        <input type="email" class="form-control" style="font-size: 16px; font-weight: bold;" placeholder="៛0.00">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-4 col-form-label">ប្រាក់អាប់រៀល(៛)</label>
                                    <div class="col-sm-7">
                                        <input type="text" readonly class="form-control" style="font-size: 16px; font-weight: bold;" placeholder="៛0.00">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"><i class="fa fa-hand-holding-usd" style="font-size: 20px; margin-right: 5px;"></i>​បង់ប្រាក់</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
<style>
    .card-body.p-0 .table thead > tr > th:first-of-type, .card-body.p-0 .table thead > tr > td:first-of-type, .card-body.p-0 .table tbody > tr > th:first-of-type, .card-body.p-0 .table tbody > tr > td:first-of-type {
        padding-left: 0.5rem;
    }
    table, th, tr, td {
        vertical-align: middle;
    }
    table, tbody, tr {
        /*border-top: 1px dashed black;*/
        padding: 3px;
    }
    .btn_pos {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 14px 16px;
        font-size: 14px;
        cursor: pointer;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    /* Darker background on mouse-over */
    .btn_pos:hover {
        background-color: RoyalBlue;
    }
    .swal-title {
        margin: 0px;
        font-size: 12px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
        margin-bottom: 28px;
    }
    .swal-text {
        background-color: #FEFAE3;
        padding: 17px;
        border: 1px solid #F0E1A1;
        display: block;
        margin: 22px;
        text-align: center;
        color: #61534e;
    }
</style>
<script>
    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        data () {
            return {
                exchange_rate: '',
                editmode: false,
                order_id: '',
                form: new Form({
                    id:'',
                    table_id: '',
                    table_name: '',
                    category_id: '',
                    fee_amount: '0',
                    service_charge: '0.00',
                    discount_percent: '0',
                    discount_amount: '0.00',
                    tax_percent: '0',
                    tax_amount: '0.00',
                    net_amount: '0.00',
                    total_amount: '0.00',
                    totalAmountRiel: '0.00',
                    product: [{
                        id: '',
                        product_id : '',
                        product_name: '',
                        product_size_id: '',
                        size_name: '',
                        dis_percent: '0',
                        qty: '1',
                        unit_price: '',
                        amount: '',
                        created_at: '',
                    }],
                }),
            }
        },
        methods: {
            addToCart: function(product_id, product_name, product_size_id, size_name, price){
                var exists = this.isExistRow(product_id, product_size_id);
                if(!exists){
                    this.addNewRow(product_id, product_name, product_size_id, size_name, price);
                }else{
                    this.updateRow(product_id, product_size_id);
                }
            },
            isExistRow : function(product_id, product_size_id){
                for(var i=0; i < this.form.product.length; i++){
                    if((this.form.product[i].product_id == product_id) && (this.form.product[i].product_size_id == product_size_id)){
                        return true;
                    }
                }
                return false;
            },
            updateRow: function(product_id, product_size_id){
                for(var i=0; i < this.form.product.length; i++){
                    if((this.form.product[i].product_id == product_id) && (this.form.product[i].product_size_id == product_size_id)){
                        this.form.product[i].qty = Number(this.form.product[i].qty) + 1;
                        this.form.product[i].amount = (this.form.product[i].qty * this.form.product[i].unit_price)-((this.form.product[i].qty * this.form.product[i].unit_price)*this.form.product[i].dis_percent / 100);
                    }
                }
                this.totalAmount();
            },
            addNewRow: function(product_id, product_name, product_size_id, size_name, price) {
                this.form.product.push({
                    id: '',
                    product_id : product_id,
                    product_name: product_name,
                    product_size_id: product_size_id,
                    size_name: size_name,
                    dis_percent: '0',
                    qty: '1',
                    unit_price: price,
                    amount: price,
                    created_at: new Date(),
                });
                this.totalAmount();
            },
            deleteRow(index, product) {
                var idx = this.form.product.indexOf(product);
                if (idx > -1) {
                    this.form.product.splice(idx, 1);
                }
                this.totalAmount();
            },
            updateQTY: function(product_id,product_size_id,qty){
                for(var i=0; i < this.form.product.length; i++){
                    if((this.form.product[i].product_id == product_id)&&(this.form.product[i].product_size_id == product_size_id)){
                        this.form.product[i].amount = (this.form.product[i].unit_price*qty) - ((this.form.product[i].unit_price*qty) * this.form.product[i].dis_percent / 100);
                    }
                }
                this.totalAmount();
            },

            updateDiscount: function(product_id,product_size_id,discount){
                for(var i=0; i < this.form.product.length; i++){
                    if((this.form.product[i].product_id == product_id)&&(this.form.product[i].product_size_id == product_size_id)){
                        this.form.product[i].amount = (this.form.product[i].unit_price*this.form.product[i].qty) - ((this.form.product[i].unit_price*this.form.product[i].qty) * discount / 100);
                    }
                }
                this.totalAmount();
            },

            totalAmount: function () {
                var sum = 0;
                var netAmount = 0;
                this.form.product.forEach(e => {
                    sum += Number(e.amount);
                    netAmount += e.unit_price * e.qty;
                });
                this.form.net_amount = netAmount;
                this.form.total_amount = sum;
                this.form.totalAmountRiel = sum * this.exchange_rate;
            },

            sortArrays(arrays) {
                return _.orderBy(arrays, 'date', 'desc');
            },
            defaultExchangeRate(){
                axios.get('/api/getDefaultExchangeRate')
                    .then((response)=>{
                        this.exchange_rate=response.data.data.exchange_rate;
                    })
            },
            formattedNumber() {
                // return this.formatCurrency(this.totalAmountRiel) // mixin
            },
            selectTable(){
                if (this.form.table_id === ''){
                    Swal.fire({
                        title: 'សូមជ្រើសរើសតុ',
                        confirmButtonText: 'យល់ព្រម',
                    });
                    return false;
                }
                return true;
            },
            payment(){
                if (this.selectTable()===true){
                    alert("Hello");
                }
            },
            receipt(){
                if ((this.form.product.length === 1)&&(this.order_id==='')){
                    Swal.fire({
                        title: 'សូមជ្រើសរើសទំនិញ',
                        confirmButtonText: 'យល់ព្រម',
                    });
                }else {
                    this.$router.push('/receipt/' + this.order_id);
                }
                // this.$htmlToPaper('printOrder');
            },
            saveOrder(){
                if (this.form.product.length === 1){
                    Swal.fire({
                        title: 'សូមជ្រើសរើសទំនិញ',
                        confirmButtonText: 'យល់ព្រម',
                    });
                }else {
                    if (this.selectTable()===true){
                        this.$loading(true);
                        this.form.post('/api/order')
                            .then((response) => {
                                this.order_id = response.data.data.id;
                                this.form.reset();
                                this.$loading(false);
                                this.$toast.success({
                                    title:'រក្សាទុកការកម្មង់',
                                    message:'ការកម្មង់ត្រូវបានរក្សាទុកដោយជោគជ័យ'
                                });
                                this.$router.push('/order-list-frontend');
                            })
                            .catch((error) => {
                                this.$toast.error({
                                    title:'រក្សាទុកការកម្មង់',
                                    message: error.message
                                });
                                this.$loading(false)
                            })
                    }
                }
            },
            updateOrder(){
                if (this.selectTable()===true){
                    this.$loading(true);
                    this.form.put('/api/order/'+ this.form.id)
                        .then((response) => {
                            this.form.reset();
                            this.$loading(false);
                            this.$toast.success({
                                title:'កែប្រែការកម្មង់',
                                message:'ការកម្មង់ត្រូវបានកែប្រែដោយជោគជ័យ'
                            })
                        })
                        .catch((error) => {
                            this.$toast.error({
                                title:'កែប្រែការកម្មង់',
                                message: error.message
                            });
                            this.$loading(false)
                        })
                }
            },
            clearOrder(){
                this.order_id='';
                this.editmode = false;
                this.form.reset();
                this.$router.push('/');
            }
        },
        created(){
            this.$on('addToCart', function(product_id, product_name, product_size_id, size_name, price){
                this.addToCart(product_id, product_name, product_size_id, size_name, price);
            });

            this.$on('selectTable', function(table_id, table_name){
                this.form.table_id = table_id;
                this.form.table_name = table_name;
            });

            this.$on('orderDetail', function(order){
                this.order_id = order.id;
                this.editmode = true;
                this.form.fill(order);
                this.totalAmount();
            });

            this.formattedNumber();
            this.defaultExchangeRate();
        }
    }
</script>
