<template>
    <section class="content">
        <div class="container-fluid">

            <div class="" role="document">
                <div class="modal-body">
                    <h5 class="modal-title" style="font-family: 'Khmer OS Muol Light'; text-align: center; font-size: 24px;">
                     ចេញបង្កាន់ដៃទូទាត់ប្រាក់
                    </h5>
                    <hr>

                    <form class="form-horizontal">
                        <div class="card-body" style="padding: 5px;">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label" style="text-align: right;">ចុះថ្លៃ(%)</label>
                                <div class="col-sm-4" style="font-size: 20px; font-weight: bold;">
                                    <input type="number" class="form-control" id="discount_percent" min="0" max="100" @keyup="discount()" @change="discount()" v-model="form.discount_percent" style="font-size: 16px; font-weight: bold; width: 280px;" placeholder="0%">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" @click="print()" class="btn btn-primary"><i class="fas fa-print" style="padding-right: 5px;"></i>​ចេញបង្កាន់ដៃ</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <div style="height: 440px; overflow: auto; width: 100%;">
            <div class="row" id="printOrder" style="margin: auto; width: 320px; font-family: 'Fake Receipt','Khmer OS Bokor'; font-size: 16px;">
                <div class="col-121">
                    <!-- Main content -->
                    <div class="invoice p-3 mb-3" id="header-receipt">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-12" style="width: 240px; font-size: 10px; text-align: center;">
                                <div style="font-size: 14px; font-family: 'Khmer OS Muol Light';">
                                    ភោជនីយដ្ឋានសួនឬស្សី <br/>
                                    <div style="font-size: 7px; line-height: 10px; font-family: 'Fake Receipt','Khmer OS Bokor'">លេខទូរស័ព្ទ 012 123 123 <br/> អសយដ្ឋាន​: ផ្លូវលេខ​២៣៤, ជ្រោយចង្ចា, ជ្រោយចង្ចា, ភ្នំពេញ</div>
                                </div>
                                <div style="padding: 5px;">
                                    ************
                                </div>

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row">
                            <div class="col-12" style="width: 240px;font-size: 10px;">
                            <div class="invoice-col" style="width: 100%; float: left; margin-bottom: 5px;">
                                លេខបង្កាន់ដៃ : {{this.form.order_number}}<br/>
                                កាបរិច្ឆេទ : {{this.form.created_at | dateCreated}} <br/>
                                តុលេខ : {{form.table_name}} <br/>
                                អ្នកគិតលុយ : {{this.form.created_by}}<br/>
                            </div>
                            <!-- /.col -->

                            <!-- /.col -->
<!--                            <div class="invoice-col" style="width: 50%; float:right;">-->
<!--                                <b>Invoice #007612</b><br>-->
<!--                                <br>-->
<!--                                <b>Order ID:</b> 4F3S8J<br>-->
<!--                                <b>Payment Due:</b> 2/22/2014<br>-->
<!--                                <b>Account:</b> 968-34567-->
<!--                            </div>-->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12">
                                <table id="product-order" style="width: 240px; overflow: hidden; font-size: 10px;">
                                    <thead>
                                    <tr class="table-tr-bg" style="border-bottom: 1px solid #000;">
                                        <th>ឈ្មោះទំនិញ</th>
                                        <th>តំលៃ($)</th>
                                        <th>ចំនួន</th>
                                        <th style="width: 40px;">ចុះថ្លៃ</th>
                                        <th style="width:50px; text-align: right;">សរុប</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="order_detail in data.product" :key="order_detail.id" class="table-border">
                                        <td>{{order_detail.product_name}}</td>
                                        <td style="text-align: center;">{{order_detail.unit_price}}</td>
                                        <td style="text-align: center;">{{order_detail.qty}}</td>
                                        <td style="text-align: center;">{{order_detail.dis_percent}}%</td>
                                        <td style="text-align: right;">{{order_detail.amount | currency}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table id="total-order" style="width: 250px;font-size: 10px;">
                                    <tbody>
                                    <tr>
                                        <th style="padding: 0px; font-weight: 100;"> ចុះថ្លៃ​(%) : </th>
                                        <td> % {{this.form.discount_percent}}</td>
                                    </tr>
                                    <tr>
                                        <th style="padding: 0px; font-weight: 100; line-height: 15px;">សរុបប្រាក់ដុល្លា​($) : </th>
                                        <td style="padding: 0px; line-height: 10px;">{{this.form.net_amount | currency}}</td>
                                    </tr>
                                    <tr>
                                        <th style="width:50%; padding: 0px; font-weight: 100;">សរុបប្រាក់រៀល (៛):</th>
                                        <td style="font-size: 12px; font-weight: 600; padding: 0px;">៛ {{this.form.total_amount*this.exchange_rate | numFormat}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div style="border-top: 1px dashed #000; padding: 10px; width: 250px; font-size: 9px; text-align: center; height: 150px;">
                                    សូមអរគុណ! <br/>
                                    សូមអញ្ជើញមកម្តងទៀត <br/><br/><br/><div style="font-size: 1px;">.</div>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.invoice -->
                </div><!-- /.col -->
            </div>
            </div>
        </div>
    </section>

</template>
<style rel="stylesheet" media="print">
    #total-order{
        width: 100%;
    }
    #product-order{
        width: 380px;
    }
    #total-order tbody tr td{
        text-align: right;
    }
    #total-order, tbody, tr{
        margin-top: 10px;
    }
    .table-order {
        border-collapse: collapse;
        width: 100%;
        font-size: 12px;
    }
    .table-tr-bg{
        background-color: rgba(78, 91, 108, 0.12);
    }
    .table-order, th, td {
        padding: 5px;
        text-align: left;
    }
    .table-border {
        border-bottom: 1px dashed #000;
    }
    @media screen {
        #print {
            display: none;
        }
    }

    @media print {
        body * {
            visibility:hidden;
        }
        #print, #print * {
            visibility:visible;
        }
        #print {
            position:absolute;
            left:0;
            top:0;
        }
    }
</style>
<script>
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },
        data() {
            return {
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,

                getData: {},
                data: {},
                exchange_rate:'',
                form: new Form({
                    id: '',
                    table_id: "",
                    table_name: "",
                    order_number: "",
                    net_amount: "",
                    total_amount: "",
                    discount_percent: "0",
                    created_at: "",
                    created_by: "",
                }),
            }
        },
        methods: {
            print() {
                const modal = document.getElementById("printOrder");
                const cloned = modal.cloneNode(true);
                let section = document.getElementById("print");

                if (!section) {
                    section  = document.createElement("div");
                    section.id = "print";
                    document.body.appendChild(section);
                }

                section.innerHTML = "";
                section.appendChild(cloned);
                window.print();
            },
            print1() {
                const localOptions = {
                    name: '_blank',
                    specs: [
                        'fullscreen=no',
                        'titlebar=no',
                        'scrollbars=no'
                    ],
                    styles: [
                        '/frontend/css/print.css',
                        '/css/app.css',
                    ]
                };
                this.$htmlToPaper('printOrder', localOptions, () => {
                    console.warn('done landscape');
                });
            },
            orderDetail: function(){
                axios.get('/api/order/' + this.$route.params.id)
                    .then(response => {
                        this.data = response.data.data;
                        this.form.fill(response.data.data);
                    });
            },
            defaultExchangeRate(){
                axios.get('/api/getDefaultExchangeRate')
                    .then((response)=>{
                        this.exchange_rate=response.data.data.exchange_rate;
                    })
            },
            discount(){
                this.form.total_amount = this.form.net_amount - (this.form.net_amount * this.form.discount_percent/100)
            }
        },
        created() {
            this.orderDetail();
            this.defaultExchangeRate();
        }
    }
</script>

