
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Odor Mean Chey", Nunito, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$bg: #f7f7f7;
.bg{
    background-color : $bg;
    padding-left: 15px;
    padding-top:3px;
    padding-bottom: 3px;
    border-bottom: 1px dashed #dee2e6;
    margin-bottom: 5px;
}
.sub-nav-icon{
    margin-left: 15px;
    margin-right: 3px;
}
.blue{
    color: $blue;
}

.indigo{
    color: $indigo;
}

.purple{
    color: $purple;
}

.pink{
    color: $pink;
}

.red
{
    color: $red;
}
.orange{
    color: $orange;
}

.yellow{
    color: $yellow;
}

.green{
    color: $green;
}

.teal{
    color: $teal;
}

.cyan{
    color: $cyan;
}
.white{
    color: $white;
}

.uppercase{
    text-transform: uppercase;
}
