// Fonts
@font-face {
    font-family: "Odor Mean Chey";
    src: url('/fonts/khmer-font/KhmerOSContent-Bold.ttf');
    src: url('/fonts/khmer-font/KhmerOSContent-Regular.ttf');
    src: url('/fonts/khmer-font/OdorMeanChey.ttf');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import "~vue-select/src/scss/vue-select.scss";
@import "~vue-ads-pagination/dist/vue-ads-pagination.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

.form-group {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.btn-xs {
    padding: .45rem .4rem;
    font-size: .675rem;
    line-height: .5;
    border-radius: .2rem;
}

/* Dashed red border */
hr.new2 {
    border-top: 1px dashed #dee2e6;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    box-shadow: none;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.router-link-exact-active{
    background-color: #3f51b5;
    color:#fff !important;
}

.ck-editor__editable {
    min-height: 500px;
}

.card-header{
    padding-top: 0.75rem;
    padding-bottom: 0.0rem;
    padding-left: 1.50rem;
}

.date-picker input{
    display: block !important;
    width: 100% !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    padding: .25rem .5rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
}
label > span.required {
    color: #FF2623;
}

.sub-info {
    padding: 1px 6px;
    background: #f4f4f4;
    font-size: 11px;
    border: 1px dashed #f1c18e;
    border-radius: .2rem;
}

@media print {
    .nav.nav-tabs li:not(.active){
        display: none;
    }
    .invoice{
        padding: 10px 20px;
    }

    .invoice{
        background-position: center center;
        background-repeat: no-repeat;

    }
    .table-responsive table{
        background-color: transparent !important;
    }

}



@page {
    margin: 0;
}

@media (max-width: 767px){
    .cart-height{
        height: 469px;
    }
    .pos-height{
        height: 573px;
    }
    .pro-item{
        max-width: 155px; padding-right: 0.5px;
    }
}
@media (max-width: 768px){
    .cart-height{
        height: 469px;
    }
    .pos-height{
        height: 573px;
    }
    .pro-item{
        max-width: 155px; padding-right: 0.5px;
    }
}
@media (max-width: 980px){
    .cart-height{
        height: 469px;
    }
    .pos-height{
        height: 573px;
    }
    .pro-item{
        width: 175px; padding-right: 0.5px;
    }
}
@media (max-width: 1024px){
    .cart-height{
        height: 469px;
    }
    .pos-height{
        height: 373px;
    }
    .pro-item{
        width: 175px; padding-right: 0.5px;
    }
    .btn-title{
        display: none;
        width: 100px;
    }
}
@media (max-width: 1100px){
    .cart-height{
        height: 339px;
    }
    .pos-height{
        height: 435px;
    }
    .pro-item{
        width: 175px; padding-right: 0.5px;
    }
    .btn-title{
        display: none;
        width: 100px;
    }
}
@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1430px;
    }
    .cart-height{
        height: 368px;
    }
    .pos-height{
        height: 470px;
    }
    .pro-item{
        max-width: 175px; padding-right: 0.5px;
    }
    .btn-title{
        display: none;
        width: 100px;
    }
    .pos-btn{
        width: 50px; height: 45px;
    }
    .pos-icon{
        padding-top: 5px;
        font-size: 18px;
    }
    .table-icon{
        width: 25px;
        margin-right: 5px;
        float: left;
        padding-top: 2px;
    }
    .logout-btn{
        width: 50px; height: 45px;
    }
    .logout-icon{
        padding-top: 5px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1400px) {
    .cart-height{
        height: 465px;
    }
    .btn-title{
        display: block;
    }
}
@media screen and (min-width: 1600px) {
    .cart-height{
        height: 500px;
    }

    .pos-height{
        height: 600px;
    }
    .btn-title{
        display: block;
    }
    .pos-btn{
        width: auto;
        height: 45px;
        padding-top: 10px;
    }
    .pos-icon{
        margin-top: -3px;
        font-size: 18px;
        float: left;
    }
    .table-icon{
        width: 25px;
        margin-right: 5px;
        float: left;
        margin-top: -2px;
    }
    .logout-btn{
        width: 50px;
        height: 45px;
        padding: 8px;
        padding-left: 14px;
    }
    .logout-icon{
        padding-top: 5px;
        font-size: 18px;
        float: left;
    }
}
@media screen and (min-width: 1900px) {
    .cart-height{
        height: 647px;
    }

    .pos-height{
        height: 745px;
    }

    .btn-title{
        display: block;
        width: 120px;
    }
    .pos-btn{
        width: 150px; height: 45px;
    }
    .pos-icon{
        padding-top: 5px;
        font-size: 18px;
    }
    .table-icon{
        width: 25px;
        margin-right: 5px;
        float: left;
        padding-top: 2px;
    }
}
