#printOrder{
    font-family: "Fake Receipt","Khmer OS Bokor";
    font-weight: 100;
    font-style: normal;
    font-size: 9px;
    width: 240px;
}
.row{
    padding: 0px;
}
#header-receipt{
    font-family: "Fake Receipt", "Khmer OS Bokor";
    font-width: 100;
    width: 240px;
}
#total-order{
    font-family: "Fake Receipt","Khmer OS Bokor";
    font-width: 100;
    width: 240px;
}
#product-order{
    font-family: "Fake Receipt","Khmer OS Bokor";
    font-width: 100;
    width: 240px;
}
#total-order tbody tr td{
    text-align: right;
}
.table-tr-bg{
    background-color: rgba(78, 91, 108, 0.12);
}
.table-border {
    border-bottom: 1px dashed #000;
}
.table-order, th, td {
    padding: 5px;
    text-align: left;
}
