<template>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <!-- left column -->
                <div class="col-md-8">

                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">តារាងប្រភេទទំនិញ</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 30px;">ល.រ</th>
                                    <th style="width: 100px;">រូបភាព</th>
                                    <th>ឈ្មោះ</th>
                                    <th style="width: 150px;">កែប្រែ</th>
                                </tr>
                                </thead>
                                <tbody v-for="(row,index) in data" :key="row.id">
                                <tr>
                                    <td class="align-middle">{{numbering+index+1}}</td>
                                    <td> <img :src="'/images/thumbnails/'+row.photo"  style="max-width: 50px;"/> </td>
                                    <td class="align-middle"><a href="#" @click="show_data(row.id)">{{row.name}}</a>
                                        <div>
                                            <span class="sub-info teal">លេខកូដ : {{row.code}}</span>
                                            <span class="sub-info teal">ប្រភេទ : {{row.category_name}}</span>
                                            <span class="sub-info indigo" style="margin-right: 5px;" v-for="p in row.product_price" :key="p.id">
                                                 {{p.size_name}} = ${{p.price}}
                                            </span>
                                        </div>



                                    </td>

                                    <td class="align-middle">
                                        <button type="button" class="btn btn-success btn-xs" @click="show_data(row.id)" ><i class="fa fa-edit"></i> កែប្រែ</button>
                                        <button type="button" class="btn btn-danger btn-xs" @click="delete_data(row.id)"><i class="fa fa-trash"></i> លុប</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">

                            <!--start pagination-->
                            <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                                <template slot-scope="props">
                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                        បង្ហាញជួរដេក :
                                        <select id="displayRows" @change="onChange($event)">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>

                                    </div>
                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                        ទំព័រ​: {{ props.start }} នៃ {{ props.end }} (សរុប​: {{ props.total }} ប្រភេទទំនិញ)
                                    </div>
                                </template>
                                <template slot="buttons" slot-scope="props">
                                    <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                                </template>
                            </vue-ads-pagination>
                            <!--start pagination-->

                        </div>
                    </div>

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-4">
                    <form @submit.prevent="editmode ? update_data() : create_data()" class="form-horizontal">
                        <!-- Horizontal Form -->
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">ការកំណត់ប្រភេទទំនិញ</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="card-body">

                                <div class="form-group row">
                                    <label for="name" class="col-sm-4 col-form-label text-right">ប្រភេទទំនិញ <span class="required"> *</span></label>
                                    <div class="col-sm-8 col-md-8">
                                        <select class="form-control" id="parent_id" name="parent_id" v-model="form.category_id">
                                            <option value="0">--- ជ្រើសរើស ---</option>
                                            <option v-for="category in category" :value="category.id">{{category.cat_name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="code" class="col-sm-4 col-form-label text-right">លេចកូដ <span class="required"> *</span></label>
                                    <div class="col-sm-8 col-md-8">
                                        <input v-model="form.code" type="text" name="name" id="code"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('code') }">
                                        <has-error :form="form" field="code"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-sm-4 col-form-label text-right">ឈ្មោះ <span class="required"> *</span></label>
                                    <div class="col-sm-8 col-md-8">
                                        <input v-model="form.name" type="text" name="name" id="name"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                        <has-error :form="form" field="name"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="description" class="col-sm-4 col-form-label text-right">ពណ៌នា</label>
                                    <div class="col-sm-8 col-md-8">
                                        <input v-model="form.description" type="text" name="description" id="description"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('description') }">
                                        <has-error :form="form" field="description"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="thumb_image" class="col-sm-4 col-form-label text-right">រូបភាព</label>
                                    <div class="col-sm-8 col-md-8">
                                        <div id="preview" style="padding-top:10px;" v-if="form.photo">
                                            <img :src="url"  style="max-width: 150px;"/>
                                            <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.photo)"><i class="fa fa-trash-alt"></i></button>
                                        </div>

                                        <div v-else>
                                            <input type="file" id="thumb_image" name="thumb_image" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('thumb_image') }"/>
                                            <has-error :form="form" field="thumb_image"></has-error>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body" style="padding: 0.10rem;">

                                    <br/>
                                    <div class="card-header">
                                        <h3 class="card-title">តំលៃទំនិញ</h3>
                                    </div>

                                    <div v-for="(res, k) in form.product_price" :key="k" style="margin-top: 20px; border-top: 1px dotted rgba(52, 58, 64, 0.09); padding-top: 10px;">

                                        <input type="hidden"  class="form-control" v-model="res.id" name="id[]">

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label text-right" for="answer">ខ្នាតទំនិញ <span class="required"> *</span></label>
                                            <div class="col-sm-8 col-md-8">
                                                <select class="form-control" :id="'product_size_id'+k" name="product_size_id[]" v-model="res.product_size_id" style="width:90%;">
                                                    <option value="0">--- ជ្រើសរើស ---</option>
                                                    <option v-for="size in product_size" :value="size.id">{{size.size_name}}</option>
                                                </select>
                                                <span style="float: right; color: red; margin-top: -30px; margin-left: -50px;">
                                                    <i class="far fa-times-circle" style="cursor: pointer; font-size: 20px;" @click="deleteRow(k, res)"></i>
                                                </span>
                                                <has-error :form="form" field="answer"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label text-right" for="answer">តំលៃ ($) <span class="required"> *</span></label>
                                            <div class="8 col-md-8">
                                            <input v-model="res.price" type="text" name="score" id="score" style="width:90%;" @keypress="onlyNumber"
                                                   class="form-control" :class="{ 'is-invalid': form.errors.has('score') }">
                                            <has-error :form="form" field="score"></has-error>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <span style="float: right; margin-top: -35px; z-index: 99999; position: relative;">
                                            <i class="fas fa-plus-circle" @click="addNewRow" style="cursor: pointer; color: #3490dc; font-size: 20px;"></i>
                                        </span>
                                    </div>

                                </div>


                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer text-right">
                                <router-link to="/admin/product">
                                    <button type="submit" class="btn btn-danger" @click="cancel">បោះបង់</button>
                                </router-link>
                                <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> កែប្រែ</button>
                                <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> រក្សាទុក</button>

                            </div>
                            <!-- /.card-footer -->

                        </div>
                        <!-- /.card -->
                    </form>
                </div>
                <!--/.col (right) -->
            </div>




            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                url: null,
                thumbnailsPart : 'images/thumbnails',
                originalPart : 'images/contents/Original',
                api: '/api/product/',
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,

                editmode: false,
                data: {},
                category: {},
                product_size: {},
                form: new Form({
                    id:'',
                    code: '',
                    category_id: '',
                    name: '',
                    description: '',
                    photo: '',
                    product_price: [{
                        id : null,
                        product_size_id: '',
                        price: '',
                    }],
                })
            }
        },
        methods: {
            addNewRow() {
                this.form.product_price.push({
                    id: null,
                    product_size_id: '',
                    price: '',
                });
            },
            deleteRow(index, product_price) {
                var idx = this.form.product_price.indexOf(product_price);
                if (idx > -1) {
                    this.form.product_price.splice(idx, 1);
                }
            },
            onImageChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);
                formData.append('validate', 'required|image|mimes:jpeg,png,jpg,gif,svg|max:2048');

                axios.post('/api/resizeImagePost', formData, config)
                    .then(function (response) {
                        this.form.photo = response.data.data.name;
                    }.bind(this));
            },
            deleteImg(img){

                let formData = new FormData();
                formData.append('image', img);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);

                Swal.fire({
                    title: 'តើអ្នកពិតជាចង់លុបមែនទេ?',
                    text: "អ្នកនឹងមិនអាចត្រឡប់វាបានទេ!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'លុបវាចោល!',
                    cancelButtonText:'អត់ទេ',
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/deleteImg', formData).then((response)=>{
                            Swal.fire(
                                'បានលុប!',
                                'ពត៍មានត្រូវបានលុបជោគជ័យ',
                                'success'
                            )
                            this.form.photo = null;
                        }).catch(()=> {
                            Swal.fire("បានបរាជ័យ!", "មានអ្វីមួយមិនប្រក្រតី។", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get(this.api+'?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                this.$loading(true);
                this.numbering = start;
                var page = end / this.per_page;
                if ((start+this.per_page)>this.total){
                    page = page+1;
                }
                axios.get(this.api+'?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    });
            },
            load_data(){
                this.$loading(true)
                axios.get(this.api)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.per_page = parseInt(response.data.meta.per_page);
                        this.data = response.data.data;
                        this.$loading(false)
                    });
            },
            delete_data(id){
                Swal.fire({
                    title: 'តើអ្នកពិតជាចង់លុបមែនទេ?',
                    text: "អ្នកនឹងមិនអាចត្រឡប់វាបានទេ!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'លុបវាចោល!',
                    cancelButtonText:'អត់ទេ',
                }).then((result) => {
                    if (result.value) {
                        this.form.delete(this.api+id).then(()=>{
                            Swal.fire(
                                'បានលុប!',
                                'ពត៍មានត្រូវបានលុបជោគជ័យ',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("បានបរាជ័យ!", "មានអ្វីមួយមិនប្រក្រតី។", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            create_data() {
                this.form.post(this.api)
                    .then((response) => {
                        this.url = null;
                        this.form.reset();
                        this.load_data();
                        this.$toast.success({
                            title:'បង្កើតតុ',
                            message:'បង្កើតប្រភេទទំនិញបានជោគជ័យ'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'បង្កើតប្រភេទទំនិញ',
                            message: error.message
                        });
                    })
            },
            show_data(id){
                this.$loading(true)
                axios.get(this.api + id)
                    .then(response => {
                        this.editmode = true;
                        this.url = '/' + this.thumbnailsPart +'/'+ response.data.data.photo;
                        this.form.fill(response.data.data);
                        this.$loading(false)
                    });
            },
            cancel(){
                this.editmode = false;
                this.form.reset();
            },
            update_data(){
                this.$loading(true);
                this.form.put(this.api+this.form.id)
                    .then(() => {
                        Swal.fire(
                            'កែប្រែ!',
                            'កែប្រែទំនិញបានជោគជ័យ!',
                            'success'
                        );
                        this.url = null,
                            this.editmode = false;
                        this.form.reset();
                        this.$loading(false);
                        Fire.$emit('AfterCreate');
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'កែប្រែទំនិញ',
                            message: error.message
                        });
                        this.$loading(false);
                    })

            },
            getCategory(){
                axios.get('/api/category')
                    .then(response => {
                        this.category = response.data.data;
                    });
            },
            getProductSize(){
                axios.get('/api/product-size')
                    .then(response => {
                        this.product_size = response.data.data;
                    });
            },
            onlyNumber($event) {
                //console.log($event.keyCode); //keyCodes value
                let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
                if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                    $event.preventDefault();
                }
            },
        },
        created() {
            this.getCategory();
            this.getProductSize();
            Fire.$on('AfterCreate',() => {
                this.load_data();
            });
        }
    }
</script>





