<template>
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div style="width: 100%; text-align: center; padding: 150px;">
                  <img src="/img/logo.png" alt="Cambodia 4.0 Center Logo" style="width: 243px; margin-right: 30px;">
                  <br/>
                  <br/>
                  <br/>
                  <h1> ប្រព័ន្ធគ្រប់គ្រងភោជនីយដ្នាន </h1>
                  <b>CMS Management System</b>
              </div>
          </div>
      </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    import Fullscreen from "vue-fullscreen/src/component.vue"
    export default {
        components: {Fullscreen},

        data() {
            return {
                fullscreen: true,
            }
        },
        methods: {
            toggle () {
                this.$refs['fullscreen'].toggle()
            },
            fullscreenChange (fullscreen) {
                this.fullscreen = fullscreen
            }
        },
        created() {

        }

    }
</script>
