<template>
    <section class="content">
      <div class="container-fluid">
        <div class="card card-outline card-info">
              <div class="card-header">
                <h3 class="card-title">List Auditing</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 90px;">
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th style="width: 30px;">N°</th>
                      <th>Name</th>
                      <th>IP_Address</th>
                      <th>Event</th>
                      <th>Auditable_Type</th>
                      <th style="min-width: 150px;">Old Values</th>
                      <th>New Values</th>
                      <th style="min-width: 150px;">Created</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(audit,index) in audit.data" :key="audit.id">
                        <td class="align-middle">{{numbering+index+1}}</td>
                        <td class="align-middle">{{audit.user.name}}</td>
                        <td class="align-middle">{{audit.ip_address}}</td>
                        <td class="align-middle">{{audit.event}}</td>
                        <td class="align-middle">{{audit.auditable_type}}</td>
                        <td class="align-middle">{{audit.old_values}}</td>
                        <td class="align-middle">{{audit.new_values}}</td>
                        <td class="align-middle">{{audit.created_at | myDate}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">

                  <!--start pagination-->
                  <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                      <template slot-scope="props">
                          <div class="vue-ads-pr-2 vue-ads-leading-loose">
                              Rows Display :
                              <select id="displayRows" @change="onChange($event)">
                                  <option value="10">10</option>
                                  <option value="20">20</option>
                                  <option value="30">30</option>
                                  <option value="50">50</option>
                                  <option value="100">100</option>
                              </select>

                          </div>
                          <div class="vue-ads-pr-2 vue-ads-leading-loose">
                              Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                          </div>
                      </template>
                      <template slot="buttons" slot-scope="props">
                          <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                      </template>
                  </vue-ads-pagination>
                  <!--start pagination-->

              </div>
            </div>
            <!-- /.card -->
      </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,

                editmode: false,
                audit : {},
                form: new Form({
                    id:'',
                    name : '',
                    email: '',
                    password: ''
                })
            }
        },
        methods: {
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/audits?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.audit = response.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                this.$loading(true);
                this.numbering = start;
                var page = end / this.per_page;
                if ((start+this.per_page)>this.total){
                    page = page+1;
                }
                axios.get('/api/audits?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                    .then(response => {
                        this.audit = response.data;
                        this.$loading(false);
                    });
            },
            loadAudit(){
                this.$loading(true)
                axios.get("/api/audits")
                      .then(response => {
                          this.total = response.data.meta.total;
                          this.per_page = parseInt(response.data.meta.per_page);
                          this.audit = response.data;
                          this.$loading(false)
                      });
            },
        },
        created() {
            Fire.$on('searching',() => {
              this.$loading(true)
                let query = this.$parent.search;
                axios.get('/api/findUser?q=' + query)
                .then((data) => {
                    this.audit = data.data
                    this.$loading(false)
                })
                .catch(() => {

                })
            })
           this.loadAudit();
           Fire.$on('AfterCreate',() => {
               this.loadAudit();
           });

        }
    }
</script>
