<template>
    <section class="content">
      <div class="container-fluid">
        <div class="card card-outline card-info">
              <div class="card-header">
                  <h3 class="card-title">តារាងក្រុមអ្នកប្រើប្រាស់</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 90px;">
                    <button type="submit" class="btn btn-primary btn-sm" @click="newModal"><i class="fas fa-plus"></i> បន្ថែមថ្មី</button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th style="width:30px;">ល.រ</th>
                        <th>ឈ្មោះ</th>
                        <th style="width:150px;">កែប្រែ</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(role,index) in roles.data">
                      <td class="align-middle">{{numbering+index+1}}</td>
                      <td class="align-middle"> <a href="#" @click="editModal(role.id)">{{role.name}}</a>
                          <div>
                          <span class="sub-info indigo">ពណ៍នា : {{role.description}}</span> | <span class="sub-info teal"><i class="fa fa-clock"></i> {{role.created_at | myDate}}</span> |
                          <span class="sub-info"> <i class="fa fa-eye blue" v-if="role.state == 1"></i>  <i class="fa fa-eye-slash red" v-else></i></span>
                          </div>
                      </td>
                      <td class="align-middle">
                          <button type="button" class="btn btn-success btn-xs" @click="editModal(role.id)"><i class="fa fa-edit"></i> កែប្រែ</button>
                          <button type="button" class="btn btn-danger btn-xs" @click="deleteRole(role.id)"><i class="fa fa-trash"></i> លុប</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">

                  <!--start pagination-->
                  <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                      <template slot-scope="props">
                          <div class="vue-ads-pr-2 vue-ads-leading-loose">
                              បង្ហាញជួរដេក :
                              <select id="displayRows" @change="onChange($event)">
                                  <option value="10">10</option>
                                  <option value="20">20</option>
                                  <option value="30">30</option>
                                  <option value="50">50</option>
                                  <option value="100">100</option>
                              </select>

                          </div>
                          <div class="vue-ads-pr-2 vue-ads-leading-loose">
                              ទំព័រ : {{ props.start }} នៃ {{ props.end }} (សរុប: {{ props.total }} ក្រុមអ្នកប្រើប្រាស់)
                          </div>
                      </template>
                      <template slot="buttons" slot-scope="props">
                          <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                      </template>
                  </vue-ads-pagination>
                  <!--start pagination-->

              </div>
            </div>
            <!-- /.card -->

          <!-- Modal -->
          <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" v-show="!editmode" id="addNewLabel">បន្ថែមក្រុមអ្នកប្រើប្រាស់</h5>
                          <h5 class="modal-title" v-show="editmode" id="addNewLabel">កែប្រែក្រុមអ្នកប្រើប្រាស់</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <form @submit.prevent="editmode ? updateRole() : createRole()">
                          <div class="modal-body">
                              <div class="form-group">
                                  <label>ឈ្មោះ<span class="required">*</span></label>
                                  <input v-model="form.name" type="text" name="name"
                                         placeholder="ឈ្មោះ"
                                         class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                  <has-error :form="form" field="name"></has-error>
                              </div>

                              <div class="form-group">
                                  <label>ពណ៍នា</label>
                                  <input v-model="form.description" type="text" name="description"
                                         placeholder="ពណ៍នា"
                                         class="form-control" :class="{ 'is-invalid': form.errors.has('description') }">
                                  <has-error :form="form" field="description"></has-error>
                              </div>

                                <div class="form-group" style="clear: both;">
                                    <label for="menus">មីនុយ<span class="required">*</span></label>
                                        <div v-for="menu in adminmenu.data" :key="menu.id">
        	                                <div class="icheck-primary col-md-4" style="float: left;">
                                                <input type="checkbox" v-bind:value='menu.id' :id="menu.id" name="menus[]" v-model='form.menus' @change='updateCheckall()'>
                                                <label :for="menu.id">{{menu.name}}</label>
                                            </div>
                                        </div>
                                        <br style="clear: both;"/>
                                </div>

                              <div class="form-group">
                                  <div class="custom-control custom-switch">
                                      <input v-model="form.state" type="checkbox" class="custom-control-input" name="state" id="state">
                                      <label class="custom-control-label" for="state">Is Active?</label>
                                  </div>
                              </div>

                          </div>
                          <div class="modal-footer justify-content-between">

                              <div class="icheck-primary pull-left">
                                  <input type='checkbox' @click='checkAll()' v-model='isCheckAll' id="checkAll">
                                  <label for="checkAll">Check All Menus</label>
                              </div>

                              <div class="pull-right">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">បិទ</button>
                                  <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> កែប្រែ</button>
                                  <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> រក្សាទុក</button>
                              </div>

                          </div>

                      </form>

                  </div>
              </div>
          </div>

      </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,

                isCheckAll: false,
                editmode: false,
                roles : {},
                adminmenu: [],
                form: new Form({
                    id:'',
                    name : '',
                    state : '',
                    description : '',
                    menus: []
                })
            }
        },
        methods: {
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/role?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.roles = response.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                this.$loading(true);
                this.numbering = start;
                var page = end / this.per_page;
                if ((start+this.per_page)>this.total){
                    page = page+1;
                }
                axios.get('/api/role?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                    .then(response => {
                        this.roles = response.data;
                        this.$loading(false);
                    });
            },

            checkAll: function(){
                this.isCheckAll = !this.isCheckAll;
                this.form.menus = [];

                if(this.isCheckAll){	// Check all
                    for (var i = 0; i < this.adminmenu.data.length; i++){
                        var id = this.adminmenu.data[i].id;
                        this.form.menus.push(id);
                    }
                }

            },
            updateCheckall: function(){
                if(this.form.menus.length == this.adminmenu.data.length){
                    this.isCheckAll = true;
                }else{
                    this.isCheckAll = false;
                }
            },
            adminMenu(){
                axios.get('/api/mainMenu')
                    .then(function (response) {
                        this.adminmenu = response.data;
                    }.bind(this));
            },
            getResults(page = 1) {
                axios.get('/api/role?page=' + page)
                    .then(response => {
                        this.roles = response.data;
                    });
            },
            updateRole(){
                this.$loading(true)
                // console.log('Editing data');
                this.form.put('/api/role/'+this.form.id)
                    .then(() => {
                        // success
                        $('#addNew').modal('hide');
                        Swal.fire(
                            'កែប្រែ!',
                            'ពត៍មានត្រូវបានកែប្រែជោគជ័យ',
                            'success'
                        )
                        this.$loading(true)
                        Fire.$emit('AfterCreate');
                    })
                    .catch(() => {
                        this.$loading(true)
                    });

            },
            editModal(id){
                axios.get('/api/role/'+id)
                    .then(function (response) {
                        this.editmode = true;
                        this.form.reset();
                        $('#addNew').modal('show');
                        this.form.id = response.data.data.id;
                        this.form.name = response.data.data.name;
                        this.form.description = response.data.data.description;
                        this.form.state = response.data.data.state;

                        for (var i = 0; i < this.adminmenu.data.length; i++){
                            for(var m = 0; m < response.data.data.menus.length; m++){

                                var menu_id = this.adminmenu.data[i].id;
                                var res_menu_id = response.data.data.menus[m].id;

                                if( menu_id == res_menu_id){
                                    this.form.menus.push(res_menu_id);
                                    this.isCheckAll = true;
                                }else{
                                    this.isCheckAll = false;
                                }
                            }
                        }
                        this.$loading(false)
                    }.bind(this));
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteRole(id){
                Swal.fire({
                    title: 'តើអ្នកពិតជាចង់លុបមែនទេ?',
                    text: "អ្នកនឹងមិនអាចត្រឡប់វាបានទេ!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'លុបវាចោល!',
                    cancelButtonText:'អត់ទេ',
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/role/'+id).then(()=>{
                            Swal.fire(
                                'បានលុប!',
                                'ពត៍មានត្រូវបានលុបជោគជ័យ',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("បានបរាជ័យ!, មានអ្វីមួយមិនប្រក្រតី។", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            loadRoles(){
                this.$loading(true)
                axios.get("/api/role")
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.per_page = parseInt(response.data.meta.per_page);
                        this.roles = response.data;
                        this.$loading(false)
                    });
            },

            createRole(){
                this.$loading(true)
                this.form.post('/api/role')
                    .then(()=>{
                        Fire.$emit('AfterCreate');
                        $('#addNew').modal('hide')

                        this.$toast.success({
                            type: 'success',
                            title: 'ក្រុមអ្នកប្រើប្រាស់បានបង្កើតដោយជោគជ័យ'
                        })
                        this.$loading(false)
                    })
                    .catch(()=>{
                        this.$toast.error({
                            title:'បង្កើតក្រុមអ្នកប្រើប្រាស់',
                            message: error.message
                        })
                        this.$loading(false)
                    })
            }
        },
        created() {
            Fire.$on('searching',() => {
                let query = this.$parent.search;
                axios.get('/api/findUser?q=' + query)
                    .then((data) => {
                        this.role = data.data
                    })
                    .catch(() => {

                    })
            });
            this.loadRoles();
            this.adminMenu();
            Fire.$on('AfterCreate',() => {
                this.loadRoles();
            });
        }

    }
</script>
