<style>
    .widget-user-header{
        background-position: center center;
        background-size: cover;
        height: 250px !important;
    }
    .widget-user .card-footer{
        padding: 0;
    }

</style>


<template>
    <div class="content">
        <div class="container-fluid">

            <!-- tab -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2">
                        <div class="widget-user-header text-white" style="background-image:url('/img/user-cover.jpg')">
                        </div>
                        <div class="row">

                            <div class="col-lg-2" style="margin-top:-100px; margin-bottom: -20px; padding-left: 50px;">
                                <img :src="url" v-if="form.logo" class="img-circle" alt="User Avatar" style="max-height: 130px; border-radius: 5%; border: 3px solid #ffffff;"/>
                                <img src="/img/logo.png" v-else class="img-circle" alt="User Avatar" style="max-width: 130px; max-height: 130px; border-radius: 5%; border: 3px solid #ffffff;"/>
                            </div>
                            <div class="col-lg-10" style="margin-top:-50px; margin-left: -50px; color: #fff;">
                                <h4 class="widget-user-username" style="text-transform: capitalize; margin-left: 20px;" v-if="this.form.name_kh">{{this.form.name_kh}}</h4>
                                <h4 class="widget-user-username" style="text-transform: capitalize; margin-left: 20px;" v-else-if="this.form.name_en">{{this.form.name_en}}</h4>
                                <h4 class="widget-user-username" style="text-transform: capitalize; margin-left: 20px;" v-else>{{this.form.name}}</h4>
                            </div>

                            <div class="col-lg-2"></div>
                            <div class="col-lg-10">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab"> ពត៌មានហាង </a></li>
                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">ការកំណត់</a></li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <!-- Activity Tab -->
                            <div class="tab-pane active show" id="activity">
                                <form class="form-horizontal">

                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="name_kh" class="col-sm-2 col-form-label text-right">ឈ្មោះខ្មែរ</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.name_kh" type="text" name="name_kh"
                                                       placeholder="ឈ្មោះខ្មែរ"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name_kh') }">
                                                <has-error :form="form" field="name_kh"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="name_en" class="col-sm-2 col-form-label text-right">ឈ្មោះអង់គ្លេស</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.name_en" type="text" name="name_en"
                                                       placeholder="ឈ្មោះអង់គ្លេស"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name_en') }">
                                                <has-error :form="form" field="name_en"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="description" class="col-sm-2 col-form-label text-right">ពណ៍នា</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.description" type="text" name="description"
                                                       placeholder="ពណ៍នា"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('description') }">
                                                <has-error :form="form" field="description"></has-error>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label for="phone" class="col-sm-2 col-form-label text-right">លេខទូរស័ព្ទ</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.phone" type="text" name="phone"
                                                       placeholder="លេខទូរស័ព្ទ"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                                                <has-error :form="form" field="phone"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="email" class="col-sm-2 col-form-label text-right">អ៊ីម៉ែល</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.email" type="text" name="email"
                                                       placeholder="អ៊ីម៉ែល"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                                <has-error :form="form" field="email"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="facebook" class="col-sm-2 col-form-label text-right">ហ្វេសប៊ុក</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.phone" type="text" name="facebook"
                                                       placeholder="ហ្វេសប៊ុក"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('facebook') }">
                                                <has-error :form="form" field="facebook"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="address1" class="col-sm-2 col-form-label text-right">អសយដ្ឋាន១</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.address1" type="text" name="address1"
                                                       placeholder="អសយដ្ឋាន១"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('address1') }">
                                                <has-error :form="form" field="address1"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="address2" class="col-sm-2 col-form-label text-right">អសយដ្ឋាន២</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.address2" type="text" name="address2"
                                                       placeholder="អសយដ្ឋាន២"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('address2') }">
                                                <has-error :form="form" field="address2"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="photo" class="col-sm-2 col-form-label text-right">រូបថត(4x6) <span class="required">*</span></label>
                                            <div class="col-sm-10 col-md-8">

                                                <div id="preview" style="padding-top:10px;" v-if="form.logo">
                                                    <!--                                                    <img :src="url"  style="max-width: 150px;"/>-->
                                                    <label>{{url}}</label>
                                                    <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.logo)"><i class="fa fa-trash-alt"></i></button>
                                                </div>

                                                <div v-else>
                                                    <input type="file" id="photo" name="photo" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('photo') }"/>
                                                    <has-error :form="form" field="photo"></has-error>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="address" class="col-sm-2 col-form-label text-right"></label>
                                            <div class="col-sm-10 col-md-8">
                                                <button @click.prevent="updateUser()" type="submit" class="btn btn-success"><i class="fas fa-save"></i> កែប្រែ</button>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                            <!-- Setting Tab -->
                            <div class="tab-pane" id="settings">

                                <form class="form-horizontal">

                                    <div class="card-body">
                                        <form>

<!--                                        <div class="form-group row">-->
<!--                                            <label for="Pagination" class="col-sm-2 col-form-label text-right">Pagination Backend</label>-->
<!--                                            <div class="col-sm-10 col-md-8">-->
<!--                                                <input type="text"-->
<!--                                                       v-model="form.Pagination"-->
<!--                                                       class="form-control"-->
<!--                                                       id="Pagination"-->
<!--                                                       placeholder="ចំនួន"-->
<!--                                                       :class="{ 'is-invalid': form.errors.has('Pagination') }"-->
<!--                                                >-->
<!--                                                <has-error :form="form" field="Pagination"></has-error>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="form-group row">-->
<!--                                            <label for="Frontend_Pagination" class="col-sm-2 col-form-label text-right">Pagination Frontend</label>-->
<!--                                            <div class="col-sm-10 col-md-8">-->
<!--                                                <input type="text"-->
<!--                                                       v-model="form.Frontend_Pagination"-->
<!--                                                       class="form-control"-->
<!--                                                       id="Frontend_Pagination"-->
<!--                                                       placeholder="ចំនួន"-->
<!--                                                       :class="{ 'is-invalid': form.errors.has('Frontend_Pagination') }"-->
<!--                                                >-->
<!--                                                <has-error :form="form" field="Frontend_Pagination"></has-error>-->
<!--                                            </div>-->
<!--                                        </div>-->

                                        <div class="form-group row">
                                            <label for="Exchange_Rate" class="col-sm-2 col-form-label text-right">អត្រាប្រូរប្រាក់/1$</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input type="text" @keypress="onlyNumber"
                                                       v-model="form.exchange_rate"
                                                       class="form-control"
                                                       id="Exchange_Rate"
                                                       placeholder="ប្រាក់រៀល"
                                                       :class="{ 'is-invalid': form.errors.has('Exchange_Rate') }"
                                                >
                                                <has-error :form="form" field="Exchange_Rate"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="" class="col-sm-2 col-form-label text-right"></label>
                                            <div class="col-sm-10 col-md-8">
                                                <button @click.prevent="updateExchangeRate()" type="submit" class="btn btn-success"> <i class="fas fa-save"></i> កែប្រែ</button>
                                            </div>
                                        </div>

                                        </form>
                                    </div>
                                </form>

                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- end tabs -->
        </div>
        <br/>
        <br/>
        <br/>
    </div>
</template>


<script>

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        data(){
            return {
                url: null,
                thumbnailsPart : 'images/thumbnails/',
                originalPart : 'images/contents/Original/',
                form: new Form({
                    id: '',
                    name_kh: '',
                    name_en: '',
                    description: '',
                    phone: '',
                    email: '',
                    address1: '',
                    address2: '',
                    facebook: '',
                    logo: '',
                    exchange_id: '',
                    exchange_rate: '',
                })
            }
        },
        mounted(){
            this.loadProfile();
            this.defaultExchangeRate();
        },
        methods:{
            defaultExchangeRate(){
                axios.get('/api/getDefaultExchangeRate')
                    .then((response)=>{
                        this.form.exchange_id=response.data.data.id;
                        this.form.exchange_rate=response.data.data.exchange_rate;
                    })
            },
            loadProfile(){
                this.$loading(true);
                axios.get('/api/company')
                    .then((response)=>{
                        this.url = '/' + this.thumbnailsPart + response.data.data.logo;
                        this.form.fill(response.data.data);
                        this.$loading(false);
                    })
            },
            onImageChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('validate', 'required|image|mimes:jpeg,png,jpg,gif|max:10240');

                axios.post('/api/imagePost', formData, config)
                    .then(function (response) {
                        this.form.logo = response.data.data.name;
                    }.bind(this))
                    .catch((error) => {
                        this.$toast.error({
                            title:'Upload Photo',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },
            deleteImg(img){
                let formData = new FormData();
                formData.append('filename', img);
                formData.append('part', this.originalPart);

                Swal.fire({
                    title: 'តើអ្នកពិតជាចង់លុបមែនទេ?',
                    text: "អ្នកនឹងមិនអាចត្រឡប់វាបានទេ!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'លុបវាចោល!',
                    cancelButtonText:'អត់ទេ',
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/deleteFile', formData).then((response)=>{
                            Swal.fire(
                                'បានលុប!',
                                'ពត៍មានត្រូវបានលុបជោគជ័យ',
                                'success'
                            )
                            this.form.logo = null;
                        }).catch(()=> {
                            Swal.fire("បានបរាជ័យ!", "មានអ្វីមួយមិនប្រក្រតី។", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            updateUser() {
                this.form.put('/api/company/'+this.form.id)
                    .then((response) => {
                        this.$toast.success({
                            title:'កែប្រែពត៌មានក្រុមហ៊ុន',
                            message:'កែប្រែពណ៌មានក្រុមហ៊ុនបានជោគជ័យ'
                        });
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'កែប្រែពត៌មានក្រុមហ៊ុន',
                            message: error.message
                        });
                    })
            },
            updateExchangeRate() {
                this.form.put('/api/exchangeRate/'+this.form.exchange_id)
                    .then((response) => {
                        this.$toast.success({
                            title:'កែប្រែអត្រាប្តូរប្រាក់',
                            message:'កែប្រែអត្រាប្តូរប្រាក់បានជោគជ័យ'
                        });
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'កែប្រែអត្រាប្តូរប្រាក់',
                            message: error.message
                        });
                    })
            },
            onlyNumber($event) {
                //console.log($event.keyCode); //keyCodes value
                let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
                if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                    $event.preventDefault();
                }
            },
        },
    }
</script>
