<template>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <form @submit.prevent="createUser()" class="form-horizontal">
                    <!-- Horizontal Form -->
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">បន្ថែមគណនីប្រើប្រាស់</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                            <div class="card-body">

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label text-right">ឈ្មោះ</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.name" type="text" name="name" id="name"
                                               placeholder="ឈ្មោះ"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                        <has-error :form="form" field="name"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label text-right">អ៊ីម៉ែល</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.email" type="email" name="email" id="email"
                                               placeholder="អ៊ីម៉ែល"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                        <has-error :form="form" field="email"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-sm-2 col-form-label text-right">ពាក្យសម្ងាត់</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.password" type="password" name="password" id="password"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                        <has-error :form="form" field="password"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="con_password" class="col-sm-2 col-form-label text-right">បញ្ជាក់-ពាក្យសម្ងាត់</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.con_password" type="password" name="con_password" id="con_password"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('Confirm Password') }">
                                        <has-error :form="form" field="con_password"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="con_password" class="col-sm-2 col-form-label text-right">ក្រុមអ្នកប្រើប្រាស់</label>
                                    <div class="col-sm-10 col-md-8">

                                        <div class="form-group">
                                            <select name="user_role" v-model="form.user_role" id="user_role" class="form-control" :class="{ 'is-invalid': form.errors.has('user_role') }">
                                                <option value="0" selected>-- ជ្រើសរើសក្រុមអ្នកប្រើប្រាស់ --</option>
                                                <option v-for="roles in roles.data" :key="roles.id" :value="roles.id"> {{roles.name}} </option>
                                            </select>
                                            <has-error :form="form" field="user_role"></has-error>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="custom-control custom-switch">
                                            <input v-model="form.state" type="checkbox" class="custom-control-input" name="state" id="state">
                                            <label class="custom-control-label" for="state">គឺសកម្ម?</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                    </div>
                    <!-- /.card -->
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">ពត៌មានអ្នកប្រើប្រាស់</h3>
                        </div>

                        <div class="card-body">

                            <div class="form-group row">
                                <label for="name_kh" class="col-sm-2 col-form-label text-right">ឈ្មោះខ្មែរ</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.name_kh" type="text" name="name_kh" id="name_kh"
                                           placeholder="ឈ្មោះខ្មែរ"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('name_kh') }">
                                    <has-error :form="form" field="name_kh"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name_en" class="col-sm-2 col-form-label text-right">ឈ្មោះអង់គ្លេស</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.name_en" type="text" name="name_en" id="name_en"
                                           placeholder="ឈ្មោះអង់គ្លេស"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('name_en') }">
                                    <has-error :form="form" field="name_en"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="sex" class="col-sm-2 col-form-label text-right">ភេទ</label>
                                <div class="col-sm-10 col-md-8">

                                    <select name="sex" v-model="form.sex" id="sex" class="form-control" :class="{ 'is-invalid': form.errors.has('sex') }">
                                        <option value="ប្រុស" selected>ប្រុស</option>
                                        <option value="ស្រី">ស្រី</option>
                                        <option value="ផ្សេងៗ">ផ្សេងៗ</option>
                                    </select>
                                    <has-error :form="form" field="sex"></has-error>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="nationality" class="col-sm-2 col-form-label text-right">សញ្ជាតិ</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.nationality" type="text" name="nationality" id="nationality"
                                           placeholder="សញ្ជាតិ"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('nationality') }">
                                    <has-error :form="form" field="nationality"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="timepicker" class="col-sm-2 col-form-label text-right">ថ្ងៃខែឆ្នាំកំណើត</label>
                                <div class="col-sm-10 col-md-8">

                                <div class="input-group date" id="timepicker" data-target-input="nearest">
                                    <date-picker name="date_of_birth" v-model="form.date_of_birth" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                    </div>
                                </div>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="place_of_birth" class="col-sm-2 col-form-label text-right">ទីកន្លែងកំណើត</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.place_of_birth" type="text" name="place_of_birth" id="place_of_birth"
                                           placeholder="ទីកន្លែងកំណើត"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('place_of_birth') }">
                                    <has-error :form="form" field="place_of_birth"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="phone" class="col-sm-2 col-form-label text-right">លេខទូរស័ព្ទ</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.phone" type="text" name="phone" id="phone"
                                           placeholder="លេខទូរស័ព្ទ"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                                    <has-error :form="form" field="phone"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="fax" class="col-sm-2 col-form-label text-right">Fax</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.fax" type="text" name="fax" id="fax"
                                           placeholder="fax"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('fax') }">
                                    <has-error :form="form" field="fax"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="address" class="col-sm-2 col-form-label text-right">អសយដ្ឋាន</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="form.address" type="text" name="address" id="address"
                                           placeholder="អសយដ្ឋាន"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                                    <has-error :form="form" field="address"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="photo" class="col-sm-2 col-form-label text-right">រូបថត(4x6) <span class="required">*</span></label>
                                <div class="col-sm-10 col-md-8">

                                    <div id="preview" style="padding-top:10px;" v-if="form.photo">
                                        <img :src="url"  style="max-width: 150px;"/>
                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.photo)"><i class="fa fa-trash-alt"></i></button>
                                    </div>

                                    <div v-else>
                                        <input type="file" id="photo" name="photo" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('photo') }"/>
                                        <has-error :form="form" field="photo"></has-error>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer text-right">
                            <router-link to="/admin/user-list">
                                <button type="submit" class="btn btn-danger">បោះបង់</button>
                            </router-link>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> រក្សាទុក</button>
                        </div>
                        <!-- /.card-footer -->

                    </div>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
import Vue from 'vue';
import datePicker from 'vue-bootstrap-datetimepicker';
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import Swal from 'sweetalert2/dist/sweetalert2.js'
Vue.use(datePicker);
    export default {
        data() {
            return {
                url: null,
                thumbnailsPart : 'images/thumbnails/',
                originalPart : 'images/contents/Original/',
                users: {},
                roles: {},
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    user_role: '0',
                    fax: '',
                    name_kh: '',
                    name_en: '',
                    sex: 'Male',
                    date_of_birth: '',
                    place_of_birth: '',
                    phone: '',
                    address: '',
                    nationality: '',
                    photo: ''
                }),
            }
        },
        methods: {
            onImageChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('validate', 'required|image|mimes:jpeg,png,jpg,gif|max:10240');

                axios.post('/api/imagePost', formData, config)
                    .then(function (response) {
                        this.form.photo = response.data.data.name;
                    }.bind(this))
                    .catch((error) => {
                        this.$toast.error({
                            title:'Upload Photo',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },
            deleteImg(img){
                let formData = new FormData();
                formData.append('filename', img);
                formData.append('part', this.originalPart);

                Swal.fire({
                    title: 'តើអ្នកពិតជាចង់លុបមែនទេ?',
                    text: "អ្នកនឹងមិនអាចត្រឡប់វាបានទេ!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'លុបវាចោល!',
                    cancelButtonText:'អត់ទេ',
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/deleteFile', formData).then((response)=>{
                            Swal.fire(
                                'បានលុប!',
                                'ពត៍មានត្រូវបានលុបជោគជ័យ',
                                'success'
                            )
                            this.form.photo = null;
                        }).catch(()=> {
                            Swal.fire("បានបរាជ័យ!", "មានអ្វីមួយមិនប្រក្រតី។", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            getRoles(){
                axios.get('/api/role')
                    .then(function (response) {
                        this.roles = response.data;
                    }.bind(this));
            },
            createUser() {
                this.$loading(true)
                this.form.post('/api/users')
                    .then((response) => {
                        this.form.reset();
                        this.$loading(false)
                        this.$toast.success({
                            title:'បង្កើតគណនីប្រើប្រាស់',
                            message:'គណនីប្រើប្រាស់បានបង្កើតដោយជោគជ័យ'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'បង្កើតគណនីប្រើប្រាស់',
                            message: error.message
                        })
                        this.$loading(false)
                    })
            }
        },
        created() {
            this.getRoles();
        }
    }
</script>
