<style>
.widget-user-header{
    background-position: center center;
    background-size: cover;
    height: 250px !important;
}
.widget-user .card-footer{
    padding: 0;
}

</style>


<template>
    <div class="content">
        <div class="container-fluid">

            <!-- tab -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2">
                        <div class="widget-user-header text-white" style="background-image:url('/img/user-cover.jpg')">
                        </div>
                        <div class="row">

                        <div class="col-lg-2" style="margin-top:-100px; margin-bottom: -20px; padding-left: 50px;"><img :src="url" class="img-circle" alt="User Avatar" style="max-height: 130px; border-radius: 5%; border: 3px solid #ffffff;"/></div>
                        <div class="col-lg-10" style="margin-top:-50px; margin-left: -50px; color: #fff;">
                            <h4 class="widget-user-username" style="text-transform: capitalize; margin-left: 20px;" v-if="this.form.name_kh">{{this.form.name_kh}}</h4>
                            <h4 class="widget-user-username" style="text-transform: capitalize; margin-left: 20px;" v-else-if="this.form.name_en">{{this.form.name_en}}</h4>
                            <h4 class="widget-user-username" style="text-transform: capitalize; margin-left: 20px;" v-else>{{this.form.name}}</h4>
                        </div>

                        <div class="col-lg-2"></div>
                        <div class="col-lg-10">
                        <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active show" href="#activity" data-toggle="tab"> ពត៍មានគណីប្រើប្រាស់ </a></li>
                        <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">ការកំណត់សុវត្តិភាព</a></li>
                        </ul>
                        </div>
                        </div>

                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <!-- Activity Tab -->
                            <div class="tab-pane active show" id="activity">
                                <form class="form-horizontal">

                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="name_kh" class="col-sm-2 col-form-label text-right">ឈ្មោះខ្មែរ</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.name_kh" type="text" name="name_kh"
                                                       placeholder="ឈ្មោះខ្មែរ"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name_kh') }">
                                                <has-error :form="form" field="name_kh"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="name_en" class="col-sm-2 col-form-label text-right">ឈ្មោះអង់គ្លេស</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.name_en" type="text" name="name_en"
                                                       placeholder="ឈ្មោះអង់គ្លេស"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name_en') }">
                                                <has-error :form="form" field="name_en"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="con_password" class="col-sm-2 col-form-label text-right">ភេទ</label>
                                            <div class="col-sm-10 col-md-8">

                                                <select name="sex" v-model="form.sex" id="sex" class="form-control" :class="{ 'is-invalid': form.errors.has('sex') }">
                                                    <option value="ប្រុស" selected>ប្រុស</option>
                                                    <option value="ស្រី">ស្រី</option>
                                                    <option value="ផ្សេងៗ">ផ្សេងៗ</option>
                                                </select>
                                                <has-error :form="form" field="sex"></has-error>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="nationality" class="col-sm-2 col-form-label text-right">សញ្ជាតិ</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.nationality" type="text" name="nationality"
                                                       placeholder="សញ្ជាតិ"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('nationality') }">
                                                <has-error :form="form" field="nationality"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="date_of_birth" class="col-sm-2 col-form-label text-right">ថ្ងៃខែឆ្នាំកំណើត</label>
                                            <div class="col-sm-10 col-md-8">

                                                <div class="input-group date" id="timepicker" data-target-input="nearest">
                                                    <date-picker name="date_of_birth" v-model="form.date_of_birth" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="place_of_birth" class="col-sm-2 col-form-label text-right">ទីកន្លែងកំណើត</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.place_of_birth" type="text" name="place_of_birth"
                                                       placeholder="ទីកន្លែងកំណើត"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('place_of_birth') }">
                                                <has-error :form="form" field="place_of_birth"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="phone" class="col-sm-2 col-form-label text-right">លេខទូរស័ព្ទ</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.phone" type="text" name="phone"
                                                       placeholder="លេខទូរស័ព្ទ"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                                                <has-error :form="form" field="phone"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="address" class="col-sm-2 col-form-label text-right">អសយដ្ឋាន</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.address" type="text" name="address"
                                                       placeholder="អសយដ្ឋាន"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                                                <has-error :form="form" field="address"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="photo" class="col-sm-2 col-form-label text-right">រូបថត(4x6) <span class="required">*</span></label>
                                            <div class="col-sm-10 col-md-8">

                                                <div id="preview" style="padding-top:10px;" v-if="form.photo">
<!--                                                    <img :src="url"  style="max-width: 150px;"/>-->
                                                    <label>{{url}}</label>
                                                    <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.photo)"><i class="fa fa-trash-alt"></i></button>
                                                </div>

                                                <div v-else>
                                                    <input type="file" id="photo" name="photo" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('photo') }"/>
                                                    <has-error :form="form" field="photo"></has-error>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="address" class="col-sm-2 col-form-label text-right"></label>
                                            <div class="col-sm-10 col-md-8">
                                                <button @click.prevent="updateUser()" type="submit" class="btn btn-success">កែប្រែ</button>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                            <!-- Setting Tab -->
                            <div class="tab-pane" id="settings">

                                <form class="form-horizontal">

                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="email" class="col-sm-2 col-form-label text-right">អ៊ីម៉ែល</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="form.email" type="text" name="email" readonly
                                                       placeholder="អ៊ីម៉ែល"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                                <has-error :form="form" field="email"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="password" class="col-sm-2 col-form-label text-right">ពាក្យសម្ងាត់</label>
                                            <div class="col-sm-10 col-md-8">
                                                    <input type="password"
                                                           v-model="form.password"
                                                           class="form-control"
                                                           id="password"
                                                           placeholder="ពាក្យសម្ងាត់"
                                                           :class="{ 'is-invalid': form.errors.has('password') }"
                                                    >
                                                    <has-error :form="form" field="password"></has-error>
                                                </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="new_pwd" class="col-sm-2 col-form-label text-right">ពាក្យសម្ងាត់ថ្មី</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input type="password"
                                                       v-model="form.new_password"
                                                       class="form-control"
                                                       id="new_pwd"
                                                       placeholder="ពាក្យសម្ងាត់ថ្មី"
                                                       :class="{ 'is-invalid': form.errors.has('new_pwd') }"
                                                >
                                                <has-error :form="form" field="new_pwd"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="con_new_pwd" class="col-sm-2 col-form-label text-right">បញ្ជាក់ - ពាក្យសម្ងាត់ថ្មី</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input type="password"
                                                       v-model="form.con_new_password"
                                                       class="form-control"
                                                       id="con_new_pwd"
                                                       placeholder="បញ្ជាក់ - ពាក្យសម្ងាត់ថ្មី"
                                                       :class="{ 'is-invalid': form.errors.has('con_new_pwd') }"
                                                >
                                                <has-error :form="form" field="password"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="" class="col-sm-2 col-form-label text-right"></label>
                                            <div class="col-sm-10 col-md-8">
                                                <button type="submit" class="btn btn-success">កែប្រែ</button>
                                            </div>
                                        </div>


                                    </div>
                                </form>

                            </div>
                        <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
          </div>
          <!-- end tabs -->
        </div>
        <br/>
        <br/>
        <br/>
    </div>
</template>


<script>

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        data(){
            return {
                url: null,
                thumbnailsPart : 'images/thumbnails/',
                originalPart : 'images/contents/Original/',
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    state: '',
                    user_role : '',
                    name_kh: '',
                    name_en: '',
                    sex: '',
                    date_of_birth: '',
                    place_of_birth: '',
                    phone: '',
                    address: '',
                    nationality: '',
                    user_account_id: '',
                    photo: ''
                })
            }
        },
        mounted(){
            this.$loading(true)
            axios.get('/api/users/'+ this.$user)
                .then((response)=>{
                    this.url = '/' + this.thumbnailsPart + response.data.data.photo;
                    this.form.fill(response.data.data);
                    this.$loading(false)
                })
        },
        methods:{
            onImageChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('validate', 'required|image|mimes:jpeg,png,jpg,gif|max:10240');

                axios.post('/api/imagePost', formData, config)
                    .then(function (response) {
                        this.form.photo = response.data.data.name;
                    }.bind(this))
                    .catch((error) => {
                        this.$toast.error({
                            title:'Upload Photo',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },
            deleteImg(img){
                let formData = new FormData();
                formData.append('filename', img);
                formData.append('part', this.originalPart);

                Swal.fire({
                    title: 'តើអ្នកពិតជាចង់លុបមែនទេ?',
                    text: "អ្នកនឹងមិនអាចត្រឡប់វាបានទេ!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'លុបវាចោល!',
                    cancelButtonText:'អត់ទេ',
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/deleteFile', formData).then((response)=>{
                            Swal.fire(
                                'បានលុប!',
                                'ពត៍មានត្រូវបានលុបជោគជ័យ',
                                'success'
                            )
                            this.form.photo = null;
                        }).catch(()=> {
                            Swal.fire("បានបរាជ័យ!", "មានអ្វីមួយមិនប្រក្រតី។", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            updateUser() {
                this.form.put('/api/users/'+this.form.id)
                    .then((response) => {
                        this.$toast.success({
                            title:'កែប្រែគណនីប្រើប្រាស់',
                            message:'កែប្រែគណនីប្រើប្រាស់បានជោគជ័យ'
                        });
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'កែប្រែគណនីប្រើប្រាស់',
                            message: error.message
                        });
                    })
            }
        },


    }
</script>
