<template>
    <section class="content">
      <div class="container-fluid">
        <div class="card card-outline card-info">
              <div class="card-header">
                <h3 class="card-title">បញ្ជីគណនីអ្នកប្រើប្រាស់</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 90px;">
                    <router-link to="/admin/user-add">
                    <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> បន្ថែមថ្មី</button>
                    </router-link>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th style="width: 30px;">ល.រ</th>
                      <th>ឈ្មោះ</th>
                      <th style="width: 150px;">កែប្រែ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(user,index) in users.data" :key="user.id">
                      <td class="align-middle">{{numbering+index+1}}</td>
                        <td class="align-middle"><router-link :to="`/admin/user-edit/${user.id}`">{{user.name}}</router-link>
                      <div>
                          <span class="sub-info indigo"><i class="fa fa-envelope"></i> {{user.email}}</span> | <span class="sub-info teal"><i class="fa fa-clock"></i> {{user.created_at | myDate}}</span> |
                          <span class="sub-info"> <i class="fa fa-eye blue" v-if="user.state == 1"></i>  <i class="fa fa-eye-slash red" v-else></i></span>
                      </div>
                      </td>

                    <td class="align-middle">
                        <router-link :to="`/admin/user-edit/${user.id}`">
                        <button type="button" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> កែប្រែ</button>
                        </router-link>
                        <button type="button" class="btn btn-danger btn-xs" @click="deleteUser(user.id)"><i class="fa fa-trash"></i> លុប</button>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">

                  <!--start pagination-->
                  <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                      <template slot-scope="props">
                          <div class="vue-ads-pr-2 vue-ads-leading-loose">
                              បង្ហាញជួរដេក :
                              <select id="displayRows" @change="onChange($event)">
                                  <option value="10">10</option>
                                  <option value="20">20</option>
                                  <option value="30">30</option>
                                  <option value="50">50</option>
                                  <option value="100">100</option>
                              </select>

                          </div>
                          <div class="vue-ads-pr-2 vue-ads-leading-loose">
                              ទំព័រ​: {{ props.start }} នៃ {{ props.end }} (សរុប​: {{ props.total }} គណនីអ្នកប្រើប្រាស់)
                          </div>
                      </template>
                      <template slot="buttons" slot-scope="props">
                          <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                      </template>
                  </vue-ads-pagination>
                  <!--start pagination-->

              </div>
            </div>
            <!-- /.card -->
      </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,

                editmode: false,
                users : {},
                form: new Form({
                    id:'',
                    name : '',
                    email: '',
                    password: ''
                })
            }
        },
        methods: {
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/users?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.users = response.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                this.$loading(true);
                this.numbering = start;
                var page = end / this.per_page;
                if ((start+this.per_page)>this.total){
                    page = page+1;
                }
                axios.get('/api/users?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                    .then(response => {
                        this.users = response.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    });
            },
            loadUsers(){
                this.$loading(true)
                axios.get("/api/users")
                      .then(response => {
                          this.total = response.data.meta.total;
                          this.per_page = parseInt(response.data.meta.per_page);
                          this.users = response.data;
                          this.$loading(false)
                      });
            },
            deleteUser(id){
                Swal.fire({
                    title: 'តើអ្នកពិតជាចង់លុបមែនទេ?',
                    text: "អ្នកនឹងមិនអាចត្រឡប់វាបានទេ!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'លុបវាចោល!',
                    cancelButtonText:'អត់ទេ',
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/users/'+id).then(()=>{
                            Swal.fire(
                                'បានលុប!',
                                'ពត៍មានត្រូវបានលុបជោគជ័យ',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("បានបរាជ័យ!", "មានអ្វីមួយមិនប្រក្រតី។", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
        },
        created() {
            Fire.$on('searching',() => {
              this.$loading(true)
                let query = this.$parent.search;
                axios.get('/api/findUser?q=' + query)
                .then((data) => {
                    this.users = data.data
                    this.$loading(false)
                })
                .catch(() => {

                })
            })
            this.loadUsers();
           Fire.$on('AfterCreate',() => {
               this.loadUsers();
           });

        }
    }
</script>
